

<header class="container-fluid blog-header bg-turq">

    <section class="container row justify-content-start justify-content-md-end mx-auto">

        <div class="col-md-8 col-lg-7 ">
            <h2>@ViewData["Title"]</h2>
            <p>@ViewData["Description"]</p>
        </div>

    </section>

</header>