

<header class="container-fluid blog-header bg-turq">

    <section class="container row mx-auto">

        <div class="col-md-8 col-lg-7 justify-self-end">
            <h2>@ViewData["Title"]</h2>
            <p>@ViewData["Description"]</p>
        </div>

    </section>


</header>