<div class="project-card">

    <div class="position-relative w-100 border">
        <img src="https://placehold.co/100" alt="...">
        <p class="day btn btn-primary fw-semibold p-2 text-center rounded-3">
            <b class="display-5 fw-semibold">15</b> <br/>
            Juin
        </p>
    </div>

    <div class="p-3">
        <h4 class="fs-2fw-semibold w-100">Projet title</h4>
        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <div class="small d-flex flex-wrap justify-content-between gap-2  text-body-secondary border-top pt-3">
            <p>
                <i class="bi bi-people-fill"></i>
                <b>partenaires</b> : Ww
            </p>

            <p>
                <i class="bi bi-geo-alt-fill"></i>
                <b>Localite</b>: Le Grand Mbam, Yaounde
            </p>
        </div>
    </div>

</div>