

  <nav aria-label="breadcrumb">

    <ol class="breadcrumb breadcrumb-chevron p-3 bg-body rounded-3 shadow">

      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="#">
          <i class="bi bi-house-fill"></i>
          Home
        </a>
      </li>

      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Library</a>
      </li>

      <li class="breadcrumb-item active" aria-current="page">
        Data
      </li>

    </ol>
    

</nav>