



<div class="offcanvas-md offcanvas-start text-white" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">

    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
    </div>


    <div class="offcanvas-body nav-offcanvas p-3">

        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis bg-body border-bottom">
            <span class="fs-5 fw-semibold">AAFEBEN</span>
        </a>

        <a class="btn btn-toggle collapsed text-start" href="#home">
            <i class="bi bi-lightning"></i>
            Tableau de bord
        </a>

        <div class="w-100 text-start">
            <button class="btn btn-toggle collapsed text-start" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                <i class="bi bi-lightning"></i>
                Projects
            </button>
            <div class="collapse" id="home-collapse">
                <div class="btn-toggle-nav border-start border-info border-3 rounded-2">
                    <a href="#" class="d-inline-flex btn text-start">Overview</a>
                    <a href="#" class="d-inline-flex btn text-start">Updates</a>
                    <a href="#" class="d-inline-flex btn text-start">Reports</a>
                </div>
            </div>
        </div>

        <div class="w-100 text-start">
            <button class="btn btn-toggle collapsed text-start" data-bs-toggle="collapse" data-bs-target="#oppor-collapse" aria-expanded="true">
                <i class="bi bi-lightning"></i>
                Opportunites
            </button>
            <div class="collapse" id="oppor-collapse">
                <div class="btn-toggle-nav border-start border-primary py-2">
                    <a href="#" class="link-body-emphasis d-inline-flex btn text-start">Overview</a>
                    <a href="#" class="link-body-emphasis d-inline-flex btn text-start">Updates</a>
                    <a href="#" class="link-body-emphasis d-inline-flex btn text-start">Reports</a>
                </div>
            </div>
        </div>

        <a class="btn btn-toggle collapsed text-start" href="#home">
            <i class="bi bi-lightning"></i>
            Staff
        </a>

        <a class="btn btn-toggle collapsed text-start" href="#home">
            <i class="bi bi-lightning"></i>
            Evenements
        </a>

    </div>

</div>