<header class="navbar navbar-expand-md py-3 mb-3">

    <nav class="container-fluid d-flex gap-2 align-items-center" >

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="dropdown">
        <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Langu
        </a>
        <ul class="dropdown-menu text-small shadow" style="">
          <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>
          <li><a class="dropdown-item" href="#">Inventory</a></li>
          <li><a class="dropdown-item" href="#">Customers</a></li>
          <li><a class="dropdown-item" href="#">Products</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Reports</a></li>
          <li><a class="dropdown-item" href="#">Analytics</a></li>
        </ul>
      </div>
      
       

      <div class="d-flex gap-2 align-items-center justify-content-end">

        <partial name="_ThemeSwitch.cshtml" />

        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-flex link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            <small class="lh-1 d-none d-md-inline ms-2">
                Mr SOKO
                <br> <span class="text-primary">Admin</span>
            </small>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end text-small shadow" style="">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>

      </div>

    </nav>
  </header>