<footer class="container small d-flex flex-column flex-sm-row justify-content-between py-2 border-top">
      <p>&copy; 2024 AAFEBEN. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="nav-link link-body-emphasis" href="#">
            wa
        </a></li>
        <li class="ms-3"><a class="nav-link link-body-emphasis" href="#">
            fb
        </a></li>
        <li class="ms-3"><a class="nav-link link-body-emphasis" href="#">
            tg
        </a></li>
      </ul>
    </footer>