

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - aafeben</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/aafeben.styles.css" asp-append-version="true" />
</head>

<body data-bs-theme="auto" class="full-page d-flex gap-0">

    <aside class="side-nav border-end">
        <partial name="_DashSideBar.cshtml" /> 
    </aside>


    <section class="w-100 bg-body-tertiary">
        
        <partial name="_DashTopNavbar.cshtml" /> 
        
        <main class="d-flex flex-column gap-4 px-3 px-xl-5 py-4 w-100" >
            <partial name="_BreedCrumb.cshtml" />
            @RenderBody()
            <partial name="_DashFooter.cshtml" />
        </main>
        
    </section>

    


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


