
<div class="container-fluid bg-success text-white">

  <footer class="container row row-cols-1  row-cols-md-3 justify-content-between py-5 mx-auto">
    
    <div class="col mb-3">
      <h2>AAFEBEN</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iure cum soluta officia expedita omnis error, veniam quo consequatur explicabo facilis doloremque? Dolorem voluptas iste quo, fuga a veritatis incidunt.
      </p>
    </div>

    <div class="col mb-3">
      <h5>Pages</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Acceiul</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Projets</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Opportunites</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">A propos de Nous</a></li>
      </ul>
    </div>

    <aside class="col mb-3">

      <h5>Contactez Nous</h5>
      <ul class="nav flex-column pt-4">

        <li class="d-flex gap-2 mb-2">
          <div class="pill bg-primary p-2">
            <i class="bi bi-house-check text-white"></i>
          </div>
          <small>
            <span class=" text-turq">Seige Social</span> <br/>
            Ebolowa, Ndibambarou
          </small>
        </li>

        <li class="d-flex gap-2 mb-2">
          <div class="pill bg-primary p-2">
            <i class="bi bi-house-check text-white"></i>
          </div>
          <small>
            <span class=" text-turq">Seige Social</span> <br/>
            Ebolowa, Ndibambarou
          </small>
        </li>

        <li class="d-flex gap-2 mb-2">
          <div class="pill bg-primary p-2">
            <i class="bi bi-house-check text-white"></i>
          </div>
          <small>
            <span class=" text-turq">Seige Social</span> <br/>
            Ebolowa, Ndibambarou
          </small>
        </li>

      </ul>
    </aside>

  </footer>


  <div class="container mx-auto border-top py-3 px-2">
    <p>&copy; 2024</p>
  </div>

</div>