  <nav class="navbar navbar-expand-lg bg-body sticky-top py-3" aria-label="Offcanvas navbar large">

    <div class="container">

      <a class="navbar-brand" href="#">AAFEBEN</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarBlog" aria-controls="offcanvasNavbarBlog" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarBlog" aria-labelledby="offcanvasNavbarBlogLabel">

        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarBlogLabel"> AAFEBEN </h5>
          <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">

          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-3 gap-md-1">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Accueil</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">activités</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">projets</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Opportunités</a>
            </li>

            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                à propos
              </a>

              <ul class="dropdown-menu outline-0 rounded-0 border border-subtle-success ">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>

            <li class="nav-item">
                <a class="btn btn-outline-success btn-sm">Contacts</a>
            </li>

          </ul>

        </div>

      </div>
    </div>
  </nav>