<section class="container-md py-4 px-3">

    <h1 class="text-capitalize text-center">Nos Partenaires</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempora sapiente quis vitae, adipisci dicta atque omnis! Corporis, aut temporibus commodi quibusdam eveniet pariatur tempora nulla nam saepe, sequi iste!</p>


    <div class="row justify-content-center align-items-center">
        
    </div>

</section>