@{
    ViewData["Title"] = "About Us Page";
    ViewData["Description"] = "La portée géographique des interventions d'AAFEBEN se situe dans le paysage du TNS et du TRIDOM dans la région de l’Est Cameroun";
}

<section class="container-fluid row g-0 row-cols-1 row-cols-lg-2 justify-content-center align-items-start">

    <div style="max-width: 640px;" class="col py-4 px-3">

        <h2>Notre vision </h2>

        <h1 class="display-5 fw-bold lh-1 text-body-emphasis mb-3">
            Nous voulons améliorer la vie et le bien-être des communautés locales 
        </h1>

        <p class="lead">
           Les peuples autochtones et communautés locales, y compris les femmes et 
           les jeunes tirent des bénéfices économiques de la gestion durable des ressources forestières 
           dans les paysages TRIDOM et TNS pour leur bien-être.
        </p>

        <h2>
            Notre Mission
        </h2>

        <p class="lead">
            Nous avons pour mission d'accompagner les communautés à la gestion rationnelle et durable de leurs ressources naturelles 
            et la prise de conscience de leurs atouts pour leur développement.
        </p>
    </div>

    <div class="bg-dark col-xl-6 ">
        <img height="600px" width="100%" class="object-fit-cover" src="https://placehold.co/400" alt="a00">
    </div>

</section>


@* Annexes etc autres *@


@* Partenaires start---------------------------------------------- *@

<partial name="_Partenaires.cshtml" />

@* team section start---------------------------------------------- *@
<section class="container-fluid bg-body-tertiary py-4 text-center px-3">

    <h1 class="my-3">Notre staff</h1>

    <p>
       Nous sommes majoritairement jeunes et dynamiques. C'est avec plaisir que nous vous présentons notre staff
    </p>

    <div class="container mx-auto row row-cols-1 row-cols-sm-2 row-cols-lg-3 justify-content-evenly g-3 py-4">

        @for( int i = 0; i <= 5; i++ ) {

        <div class="col text-center">

            <img height="90px" width="90px" class="object-fit-cover rounded-circle border-turq" src="https://placehold.co/400" alt="a00">

            <p>
                <span class="text-primary small"> CO-Foundateur</span>
                <br/> <b>Mr Arnold Messi</b>
            </p>
            <p>
                Eos Tempore, dolorum, sunt quis repellendus voluptates voluptatibus fugit, iure natus ex repellat possimus!
            </p>

        </div>

        }
    </div>

</section>


@* FAQ start---------------------------------------------- *@
<section id="faq" class="container py-5 px-3">

    <h1 class="text-center">
        F.A.Q <br/>
        <span class="fs-5 text-muted" >Foire Aux Questions</span>
    </h1>

    @for( int i = 0; i < 5; i++ ) {

        <div class="mon-accordion text-start p-1 mb-2">

            <label class="border-bottom fw-bold w-100 p-2">

                <span>
                    <i class="bi bi-patch-question me-2 "></i>
                    Question
                </span>

                @* <input type="radio" name="faq" class="visually-hidden" /> *@

                <i class="bi bi-chevron-down text-end"></i>
            </label>
            
            <p class="overflow-hidden">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis architecto inventore exercitationem incidunt molestiae, optio non quasi odit asperiores quaerat consequuntur quod, nesciunt quam aut ab sit, dolorem quia earum!
            </p>

        </div>
    }


</section>
