@{
    ViewData["Title"] = "Contacts";
}


<main class="container py-5 px-2">

  <div class="d-none d-sm-block bg-dark mb-5 rounded-4">
    <div id="map" style="height: 480px;"></div>
  </div>
      

  <h2>Contactez Nous</h2>

  <section class="row py-4">

    

    <form  id="contactForm" class="col-lg-7 row g-3 mb-3">

      <div class="col-12">
        <textarea class="form-control" placeholder="Saissez votre message ici svp." id="message" rows="4"></textarea>
      </div>

      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Votre nom" aria-label="First name">
      </div>

      <div class="col-md-6">
        <input type="email" class="form-control" placeholder="Votre address email" aria-label="email" required>
      </div>

      <div class="col-12">
        <input type="text" class="form-control" id="subjet" placeholder="Sujet : Demande/requisition de ...">
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-envelope-at"></i>
          Envoyer Message
        </button>
      </div>

    </form>

    <ul class="col-lg-5 pt-4">

      <li class="d-flex align-items-start gap-3 mb-3">
        <i class="bi bi-house-check text-body-secondary fs-2"></i>
        <p>
          <strong class="h5">Bertoua, Cameroun</strong> <br/>
          Mokolo I à côté du restaurant La Minette
        </p>
      </li>

      <li class="d-flex align-items-start gap-3 mb-3">
        <i class="bi bi-telephone text-body-secondary fs-2"></i>
        <p>
          <strong class="h5">(+237) 222 241 835 / 653 663 807 / 695 665 858</strong> <br/>
          Lundi - Vendredi: 9h - 16h <br>
          Samedi : 9h - 14h
        </p>
      </li>

      <li class="d-flex align-items-start gap-3 mb-3">
        <i class="bi bi-envelope text-body-secondary fs-2"></i>
        <p>
          <strong class="h5">aafebeno@yahoo.com</strong> <br/>
          Nous vous répondrons dans les plus brefs délais !
        </p>
      </li>

      <li class="d-flex align-items-start gap-3 mb-3">
        <i class="bi bi-globe2 text-body-secondary fs-2"></i>
        <p>
          <strong class="h5">Vous Pouvez egalement nous suivre sur:</strong> <br/>
          Nous vous répondrons dans les plus brefs délais !
        </p>
      </li>

    </ul>

  </section>

        
</main>