@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam laboriosam earum dolores delectus, deserunt esse odio ea odit eius error, totam culpa incidunt molestias ab ut porro quia, adipisci voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fuga, aut sit aspernatur cumque quisquam tempora officia voluptates reprehenderit eius esse molestias provident in! Nesciunt tempore quisquam consequuntur sunt quas.
</p>