@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "Page d'acceuil";
}


<h1 class="display-2">
    @Localizer["Hi"] @Localizer["lang"]
</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam laboriosam earum dolores delectus, deserunt esse odio ea odit eius error, totam culpa incidunt molestias ab ut porro quia, adipisci voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fuga, aut sit aspernatur cumque quisquam tempora officia voluptates reprehenderit eius esse molestias provident in! Nesciunt tempore quisquam consequuntur sunt quas.
</p>

@* Solitation *@

<section class="py-4">

    <h1 class="text-center mb-4">Comment pourriez-vous aider</h1>


    <p class="container-md text-primary text-center">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore mollitia molestiae laboriosam neque consectetur quisquam nulla veritatis qui dolores. Expedita optio, odit dolorem incidunt labore est. Delectus quos rerum tempora?
    </p>


    <div class="container row row-cols-lg-4 gy-2 justify-content-evenly mx-auto">

        <div class="col p-4 bg-light text-center">

            <i class="bi bi-person-raised-hand display-4"></i>

            <h4>Faire un don</h4>

            <p class="mb-3">
                Ratione doloremque mollitia architecto qui tempora nihil id excepturi, sequi voluptatibus eligendi molestias! Quaerat culpa assumenda voluptates dignissimos laboriosam nobis ducimus nesciunt!
            </p>

            <a  class="btn btn-outline-primary">Comment le Faire</a>

        </div>

        <div class="col p-4 d-flex flex-column gap-3 bg-light text-center">

            <i class="bi bi-lightbulb display-4"></i>

            <h4>Devenir Benevole</h4>

            <p>
                Ratione doloremque mollitia architecto qui tempora nihil id excepturi, sequi voluptatibus eligendi molestias! Quaerat culpa assumenda voluptates dignissimos laboriosam nobis ducimus nesciunt!
            </p>

            <a  class="btn btn-outline-primary">Comment le Faire</a>

        </div>

        <div class="col p-4 bg-light text-center">

            <i class="bi bi-lightbulb display-4"></i>

            <h4>Faire des Propositions</h4>

            <p class="mb-3">
                Ratione doloremque mollitia architecto qui tempora nihil id excepturi, sequi voluptatibus eligendi molestias! Quaerat culpa assumenda voluptates dignissimos laboriosam nobis ducimus nesciunt!
            </p>

            <a  class="btn btn-outline-primary">Comment le Faire</a>

        </div>

    </div> 


</section> 


@* Projets--------------------------------- *@


<section class="container py-4 px-3">

    <h1 class="text-center mb-3">Projets</h1>

    <div class="row py-4 list-unstyled">

        <summary class="col-lg-4">
            <h1 class="text-body-emphasis">Get started with Bootstrap</h1>

            <p class="fs-5 mb-4 col-md-11">Quickly and easily get started with Bootstrap's compiled, production-ready files with this barebones example featuring some basic HTML and helpful links. Download all our examples to get started.</p>

            
            <a href="/" class="btn btn-success btn-lg px-4 mb-5">
                Voir Plus Projets
            </a>
        </summary>

        <summary class="col-lg-8 row">

            <div class="col-lg-7">
                <partial name="~/Views/Shared/_BlogCard.cshtml" />
            </div>

            <div class="col-lg-5 row g-2">

                <div style="max-height: 280px;" class="col-12 border"> 
                    <img class="object-fit-cover" src="https://placehold.co/100" alt="...">
                </div>

                <div class="col-12">
                    <img class="object-fit-cover" src="https://placehold.co/100" alt="...">
                </div>

            </div>

    </div>

</section>

@* Nos Partenaires *@

<partial name="_Partenaires.cshtml" />