* {
  margin: 0;
  padding: 0;
  border-radius: 0px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}


html {
  font-size: 13px;
}

@media (min-width: 968px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* My css edits */

input, textarea, button {
  border-radius: 0;
}

.bg-turq {
  background-color: turquoise;
}

.text-turq {
  color: turquoise;
}

.border-turq {
  border: 1px solid turquoise;
}

.nav-link, a {
  color: inherit;
}

.pill {
  display: flex;
  place-items: center;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.blog-header {
  min-height: 70vh;
  max-height: 980px;
  display: flex;
  place-items: center;
} 


.mon-accordion {
  cursor: pointer;
}

.mon-accordion label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mon-accordion p {
  max-height: 0px;
  transition:  all 0.5s linear;
}

.mon-accordion:hover p {
  max-height: max-content;
}

.mon-accordion:hover {
  background-color: rgba(245, 245, 245, 0.356);
}

.mon-accordion:hover .bi-chevron-down {
  transform: rotate(180deg);
}
